@use '@/shared/styles/functions' as *;
@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.button {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: $text-xs;
  padding: rem(10) rem(17);
  background: $color-black;
  border-radius: $radius-sm;

  &:active {
    background-color: #333333;
  }
  @media (min-width: $breakpoint-lg) {
    font-size: $text-base;
    padding: rem(14) rem(25);
    &:hover {
      background-color: #333333;
    }
  }
}
