@use '@/shared/styles/variables' as *;
// @use 'mixins' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $color-gray-100;
  color: $text-main;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
