@use '@/shared/styles/variables' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin ratio-square {
  aspect-ratio: 1/1;
}
@mixin ratio-portrait {
  aspect-ratio: 9/16;
}
@mixin ratio-landscape {
  aspect-ratio: 16/9;
}

@mixin container {
  max-width: $container-width;
  margin: 0 auto;
  //   padding: 0 20px;
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
